.Main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    cursor: default;
    margin: 0 2em;
}

.Main h2 {
    font-size: 1.6em;
    text-transform: uppercase;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.FullUrl {
    cursor: default;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 !important;
    font-size: 1em;
    outline: none;
    border: none;
    overflow-x: auto;
    overflow-y: visible;
    width: 600px;
    padding: 1em 1.5em;
    backdrop-filter: blur(0.5px);
    border-radius: 10px;
    background-color: rgb(166 160 160 / 10%);
    box-shadow: rgb(27 27 27 / 74%) 0px 8px 26px 0px;
    color: #f5f5f5 !important;
    resize: none;
    white-space: nowrap;
}

.FullUrl::-webkit-scrollbar {
    width: 0px;
    background-color: #3d3d3d;
}

.FullUrl::-webkit-scrollbar-track {}

.FullUrl::-webkit-scrollbar-thumb {
    background-color: rgb(124, 124, 124);
    border-radius: 1em;
    outline: none;
    border: none;

}

.ShortenedUrl {
    color: #f5f5f5 !important;
    font-size: 1em;
    font-weight: 600;
    padding: 1em 1.5em;
    backdrop-filter: blur(0.5px);
    border-radius: 10px;
    background-color: rgb(166 160 160 / 10%);
    box-shadow: rgb(27 27 27) 0px 8px 26px 0px;
    box-shadow: rgb(27 27 27 / 74%) 0px 8px 26px 0px;
    cursor: pointer;
}

.ShortenedUrl:hover {
    transition: all 400ms ease-in-out;
    color: #ff21b2 !important;
    font-weight: 600;
}

.Date {
    color: #f5f5f5 !important;
}

.Table {
    background-color: rgb(16 16 16);
}

/* TABLE.HEADER */
.Table .ColumnHead {
    text-align: center;
    color: #616161;
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans;
    padding: 1em;
}


.TableBody .TableCell {
    padding: 0;
    background-color: red;
    color: red;
}

/* WHEN USER IS-NOT SIGN-IN */
.MainSection {
    font-size: 0.7em;
    background-color: #101010;
    padding: 1.5em 2em;
    text-align: left;
    width: 100vw;
}