.HeaderSection {
    color: #232323;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    cursor: default;
    border: none;
    border-bottom: 1px solid #23090d;
    background-color: #000;
    color: #fff;
}

.LeftSideSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.LeftSideSection .LogoTxt {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 600;
}

.MiddleSideSection ul {
    display: flex;
    list-style-type: none;
    gap: 2em;
    font-size: 1em;
}

.MiddleSideSection ul li .ItemLi {
    font-weight: 500;
}

.RightSideSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.RightSideSection .Avatar {
    cursor: pointer;
}

.RightSideSection .SignInBtn {
    background-color: hsla(341, 97%, 59%, 0.75);
    font-weight: 600;
    color: #fff;
    padding: 0.85em 1.5em;
    border-radius: 0.2em;
    text-transform: uppercase;
}

.RightSideSection .SignInBtn:hover {
    cursor: pointer;
    transition: all 600s ease-in-out;
    background-color: hsl(341deg 100% 66.18% / 75%);
}