.Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4em 0;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
}

.Main h2 {
    font-size: 3.2rem;
    margin-bottom: 1em;
}

.Main .Content {
    font-size: 1.3em;
    line-height: 1.75;
    width: 60%;
}

.Main .Content p {
    margin-bottom: 0.5em;
    letter-spacing: -2%;
}

.Main .Content p span {
    cursor: pointer;
    border-bottom: 3px solid rgb(63 156 243);

}

@media screen and (min-width: 360px) and (max-width: 768px) {
    .Main {
        margin: 3em 0;
        padding: 0;
    }

    .Main .Content {
        width: 85%;
    }
}