.Main {
    margin-top: 16em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4em;
}

.Form {
    display: flex;
    align-content: center;
    justify-content: center;
}

.Form .InputUrl {
    background-color: #fff;
    color: #232323;
    font-size: 1.8em;
    outline: none;
    border: none;
    padding: 0.3em 1em;
    border: 0.5px solid lightgray;
    border-radius: 0;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
    background-color: #f8f8f8;
}

.Form .InputUrl::placeholder {
    font-size: 0.8em;
}

.Form .GetLinkBtn {
    background-color: #FC3171;
    border: 1px solid #FC3171;
    color: #fff;
    padding: 0 1.5em;
    font-size: 1em;
    text-transform: capitalize;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.Form .GetLinkBtn:hover {
    background-color: #9b153f;
    transition: all 600ms ease-in-out;
}

.Form .GetLinkBtn .Loading {
    padding: 0 7px;
}

.ShotenedLink {
    color: #232323;
    background-color: #101010;
    padding: 0.4em 1.5em;
    border-radius: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14.5em;
}

.ShotenedLink .LinkTxt {
    color: #fff;
    font-size: 1.2em;
    outline: none;
}

.ShotenedLink .LinkTxt span {
    color: #ff21b2;
}

.ShotenedLink .CopyBtn {
    background: rgb(80 93 89 / 21%);
    box-shadow: 0 8px 32px 0 rgb(39 39 39 / 53%);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    padding: 0.5em;
}

.ShotenedLink .CopyBtn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.TableSection {
    margin-top: 11em
}

/* MEDIA QUERIES */
/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 360px) and (max-width: 480px) {
    .Main {
        margin: 10em 3em 0 3em;
        gap: 2em;
    }

    .Form .InputUrl {
        font-size: 1.1em;
        padding: 0.8em 0.5em;
    }

    .ShotenedLink {
        gap: 3em;
        padding: 0.3em 1em;
    }

    .ShotenedLink span {
        white-space: nowrap;
    }

}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 768px) {

    .Main {
        margin: 10em 3em 0 3em;
        gap: 2em;
    }

    .Form .InputUrl {
        font-size: 1.5em;
        padding: 0.5em 1em;
    }

    .ShotenedLink {
        gap: 10em;
        padding: 0.4em 1em;
    }

    .ShotenedLink span {
        white-space: nowrap;
    }

}

/* SMALL SCREEN */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .Main {
        margin: 10em 3em 0 3em;
        gap: 2em;
    }
}

/* DESKTOP AND LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .Main {
        margin: 10em 3em 0 3em;
        gap: 2em;
    }
}

/* EXTRA LARGE SCREENS & TV */
@media screen and (min-width: 1201px) {
    .Main {
        margin: 10em 3em 0 3em;
        gap: 2em;
    }
}