/* HERO-SECTION */
.Herosection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 8em auto;
    padding: 2.8rem;
}

.Herosection .LeftsideSection .Heading {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 1.2;
    letter-spacing: -2%;
}

.Herosection .LeftsideSection .Desc {
    font-size: 1.4rem;
    margin-top: 2.4rem;
    width: 800px;
    line-height: 1.6;
    letter-spacing: -2%;
}

/* INTRO-SECTION */
.Introsection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    padding: 11em 0;
    width: 100%;
}

.Introsection .LeftsideSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #232323;
    gap: 3em;
}

.Introsection .LeftsideSection .img_1,
.Introsection .LeftsideSection .img_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 700;
}

.RightsideSection {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.Introsection .RightsideSection {
    color: #232323;
    font-size: 1.2em;
    font-weight: 600;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Introsection .RightsideSection .Text {
    display: flex;
    flex-direction: column;
}

.Introsection .RightsideSection .Button .TryNowBtn {
    display: inline-block;
    background-color: hsl(341deg 97% 59% / 98%);
    font-size: 0.8em;
    font-weight: 600;
    color: #fff;
    padding: 0.85em 1.3em;
    border-radius: 0.2em;
    text-transform: uppercase;
}

.Introsection .RightSideSection .Button .TryNowBtn:hover {
    cursor: pointer;
    transition: all 600s ease-in-out;
    background-color: hsl(341deg 97% 59% / 77%);
}

.Working {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15em 0;
}

.Working .BenefitList {
    list-style-type: none;
    font-size: 1.2em;
}

.Working .BenefitList h2 {
    text-transform: capitalize;
    font-size: 4.2rem;
    margin-bottom: 2.8rem;
}

.Working .BenefitList li {
    margin: 1em 0;
    font-size: 1.2rem;
    letter-spacing: -2%;
    line-height: 1.6;
}

/* DEV SECTION */
.Developer {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    color: #232323;
    padding: 8em 0;
}

.Developer .DevTxt {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.Developer .ImgBox img {
    border-radius: 50%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
     transform: scale(1.2);
}

.Developer .SelfPromo {
    font-weight: 500;
    text-align: center;
     font-size: 1.4rem;
    text-transform: capitalize;
    line-height: 1.6;
    color: #232323;
    letter-spacing: -2%;
}

.Developer .Button {
    display: flex;
    gap: 2em;
}

.Developer .Button .gmailBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7em;

    font-size: 0.8em;
    font-weight: 600;
    color: #fff;
    padding: 1.2em 1.4em;
    cursor: pointer;
    border-top-left-radius: 1.6rem;
    border-bottom-right-radius: 1.6rem;
    text-transform: uppercase;
}

.Developer .Button .gmailBtn {
    background-color: #fc3675;
    transition: all 600ms ease-in-out;
}

.Developer .Button .gmailBtn:hover {
    background-color: #fc3675ad;
}

/* FOOTER CSS */
.Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
    font-size: 1.2em;
    background: rgba(252, 49, 113, 0.05);
    padding: 0.3em 0;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-top: 1px solid #aa1846;
    cursor: default;
}

/* MEDIA QUERIES */
/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 360px) and (max-width: 480px) {
    .Herosection {
        margin: 0 1em;
        justify-content: center;
        flex-direction: column;
        padding: 5em 0;
        gap: 3em;
    }

    .Herosection .LeftsideSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }

    .Herosection .LeftsideSection .Heading {
        font-size: 4em;
    }

    .Herosection .LeftsideSection .Desc {
        text-align: center;
    }

    .Introsection {
        margin: 0;
        padding: 5em 0;
        flex-direction: column;
        gap: 3em;
    }

    .Introsection .LeftsideSection {
        flex-direction: column;
        gap: 3em;
    }

    .Introsection .RightsideSection {
        align-items: center;
        justify-content: center;
        gap: 3em;
    }

    .Introsection .RightsideSection .Text {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .Working {
        flex-direction: column;
        gap: 3em;
        margin: 0 1.2em;
        padding: 7em 0;
        align-items: center;
        justify-content: center;
    }

    .Working img {
        display: none;
        width: 350px;
        height: auto;
    }

    .Developer {
        padding: 7em 1em;
        margin: 0;
    }

    .Developer .SelfPromo {
        text-align: center;
    }

    .Developer .Button {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .Herosection {
        margin: 0;
        justify-content: center;
        flex-direction: column;
        padding: 5em 0;
        gap: 3em;
    }

    .Herosection .LeftsideSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }

    .Herosection .LeftsideSection .Heading {
        font-size: 4em;
    }

    .Herosection .LeftsideSection .Desc {
        text-align: center;
    }

    .Introsection {
        margin: 0;
        padding: 5em 0;
        flex-direction: column;
        gap: 3em;
    }

    .Introsection .LeftsideSection {
        flex-direction: column;
        gap: 3em;
    }

    .Introsection .RightsideSection {
        align-items: center;
        justify-content: center;
    }

    .Introsection .RightsideSection .Text {
        text-align: center;
    }

    .Working {
        flex-direction: column;
        gap: 3em;
        padding: 5em 0;
        align-items: center;
        justify-content: center;
    }

    .Working img {
        width: 430px;
        height: auto;
    }

    .Developer {
        padding: 5em 1em;
        margin: 0;
    }

    .Developer .SelfPromo {
        text-align: center;
    }

    .Developer .Button {
        display: flex;
        gap: 1em;
    }
}

/* SMALL SCREEN */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .Herosection {
        margin: 0;
        margin-left: 3em;
        justify-content: center;
        padding: 7em 0;
        gap: 0em;
    }

    .Herosection .LeftsideSection .Heading {
        font-size: 4em;
    }

    .Herosection .RightsideSection .Desc {
        font-size: 1em;
    }

    .Introsection {
        margin: 0;
        padding: 7em 0;
        flex-direction: column;
        gap: 3em;
    }

    .Introsection .RightsideSection {
        align-items: center;
        justify-content: center;
    }

    .Working {
        flex-direction: column;
        gap: 5em;
        padding: 7em 0;
        align-items: center;
        justify-content: center;
    }
}

/* DESKTOP AND LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .Herosection {
        justify-content: center;
    }

    .Working {
        flex-direction: column;
        gap: 5em;
        padding: 7em 0;
        align-items: center;
        justify-content: center;
    }
}