/* HERO-SECTION */
.Herosection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 12em auto;
}

.Herosection .LeftsideSection .Heading {
    font-weight: 700;
    font-size: 5em;
}

.Herosection .LeftsideSection .Desc {
    font-size: 1.5em;
}

/* INTRO-SECTION */
.Introsection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    padding: 11em 0;
    width: 100%;
}

.Introsection .LeftsideSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #232323;
    gap: 3em;
}

.Introsection .LeftsideSection .img_1,
.Introsection .LeftsideSection .img_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 700;
}

.RightsideSection {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.Introsection .RightsideSection {
    color: #232323;
    font-size: 1.2em;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Introsection .RightsideSection .Text {
    display: flex;
    flex-direction: column;
}

.Introsection .RightsideSection .Button .TryNowBtn {
    display: inline-block;
    background-color: hsl(341deg 97% 59% / 98%);
    font-size: 0.8em;
    font-weight: 600;
    color: #fff;
    padding: 0.85em 1.3em;
    border-radius: 0.2em;
    text-transform: uppercase;
}

.Introsection .RightSideSection .Button .TryNowBtn:hover {
    cursor: pointer;
    transition: all 600s ease-in-out;
    background-color: hsl(341deg 97% 59% / 77%);
}

.Working {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15em 0;
}

.Working .BenefitList {
    list-style-type: none;
    font-size: 1.2em;
}

.Working .BenefitList li {
    margin: 1em 0;
}

/* DEV SECTION */
.Developer {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    color: #232323;
    padding: 8em 0;
}

.Developer .SelfPromo {
    font-size: 1.3em;
    font-weight: 500;
}

.Developer .Button {
    display: flex;
    gap: 2em;
}

.Developer .Button .TwitterBtn,
.Developer .Button .InstaBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;

    font-size: 0.8em;
    font-weight: 600;
    color: #fff;
    padding: 1.5em 2em;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 0.2em;
}

.Developer .Button .TwitterBtn {
    background-color: #1D9BF0;
}

.Developer .Button .InstaBtn {
    background-color: #E1306C;
}

.Developer .Button .TwitterBtn:hover {
    transition: all 600ms ease-in-out;
    background-color: #1d9bf0c4;
}

.Developer .Button .InstaBtn:hover {
    transition: all 600ms ease-in-out;
    background-color: #e1306cad;
}